@font-face {
  font-family: raleway;
  src: url(../public/assets/fonts/Raleway/static/Raleway-Regular.ttf);
}
@font-face {
  font-family: ralewayMed;
  src: url(../public/assets/fonts/Raleway/static/Raleway-Medium.ttf);
}
@font-face {
  font-family: ralewayBold;
  src: url(../public/assets/fonts/Raleway/static/Raleway-Bold.ttf);
}
@font-face {
  font-family: ralewayExtraBold;
  src: url(../public/assets/fonts/Raleway/static/Raleway-Black.ttf);
}
@font-face {
  font-family: ralewayLight;
  src: url(../public/assets/fonts/Raleway/static/Raleway-Light.ttf);
}

@font-face {
  font-family: cabin;
  src: url(../public/assets/fonts/Cabin/static/Cabin-Regular.ttf);
}
@font-face {
  font-family: cabinMed;
  src: url(../public/assets/fonts/Cabin/static/Cabin-Medium.ttf);
}
@font-face {
  font-family: cabinBold;
  src: url(../public/assets/fonts/Cabin/static/Cabin-SemiBold.ttf);
}
@font-face {
  font-family: cabinExtraBold;
  src: url(../public/assets/fonts/Cabin/static/Cabin-Bold.ttf);
}

.secondary-font {
  font-family: raleway;
}
.secondary-med-font {
  font-family: ralewayMed;
}
.secondary-bold-font {
  font-family: ralewayBold;
}
.secondary-extra-bold-font {
  font-family: ralewayExtraBold;
}
.secondary-light-font {
  font-family: ralewayLight;
}

.primary-font {
  font-family: cabin;
}
.primary-med-font {
  font-family: cabinMed;
}
.primary-bold-font {
  font-family: cabinBold;
}
.primary-extra-bold-font {
  font-family: cabinExtraBold;
}

* {
  font-family: cabin;
  /* font-size: 1rem; */
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.4s ease-out;
}

body {
  background: #fcfafa;
}

.text {
  color: #1f793a;
}

.container__hide__scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.container__hide__scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.card__design {
  /* border: 1px solid rgba(255, 255, 255, 0.222); */
}

.card__design__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d !important;
}

.card__design:hover .card__design__inner {
  transform: rotateY(180deg) !important;
}

.card__design__front,
.card__design__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card__design__front {
  background-color: rgba(0, 0, 0, 0.5);
  /* -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px); */
}

.car__design__back {
  transform: rotateY(180deg) !important;
}
